.drum-pad{
padding:30px;
width:30px;
background-color: #3498db;
color:white;
margin:20px;
text-align: center;
cursor: pointer;
user-select: none;
}

body{
  height: 100vh;
  justify-content: center;
    align-items: center;  
  display: flex;

  }

  #drum-machine{
    display: flex;
    flex-wrap: wrap;
    width:500px;
    justify-content: center;
    align-items: center;    
  }

  #display{
    width:100%;
    text-align:center;
  }

  .active{
    background-color: #71b0da;
  }