
  @font-face {
  font-family: 'Digital Numbers Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Digital Numbers Regular'), url('DigitalNumbers-Regular.woff') format('woff');
  }



.drum-pad{
padding:30px;
width:30px;
background-color: #3498db;
color:white;
margin:20px;
text-align: center;
cursor: pointer;
user-select: none;
  /* border: 2px solid #333; */
  border-radius: 4px;
  
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #fff;
    background: #109bce;
  background-image: linear-gradient(bottom, rgb(14,137,182) 0%, rgb(22,179,236) 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #181818;
 
}

.drum-pad.active {
  /* opacity: 0.8; */
  /* transform: scale(0.95); */
   box-shadow:none;
}

body{
  height: 100vh;
  justify-content: center;
  align-items: center;  
  display: flex;

  }

  #drum-machine{
    display: flex;
    flex-wrap: wrap;
    width:500px;
    justify-content: center;
    align-items: center;   
    background-color:#292929; 
    padding: 40px 0;

      background-image: linear-gradient(bottom, rgb(23, 23, 24) 0%, rgb(23, 23, 24) 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #222222, 0px 5px 0px 0px #19191a, 0px 10px 5px #181818;

  }

  #display{
    width:52%;
    text-align:center;
    font-family: 'Digital Numbers Regular';
    font-size:25px;
    overflow: hidden;
     background-color: #ACB1B5;
  border-radius:15px;
   padding: 0px 60px;
  padding-top:20px;
  padding-bottom:20px;
  
  
  font-family: 'Digital Numbers Regular';

     -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  }

  .active{
    background-color: #71b0da;
  }